@media print {
    @page {
        margin: 0;
    }

    body {
        height: 100%;
        width: 100%;
    }

    .table {
        transform: translate(8.5in, -100%) rotate(90deg);
        transform-origin: bottom left;
        display: block;
       
    }
 
    p {
        display:none;
    }
    ul {

        display:none;
    }
}
